.footer {
    background-image: url('../../images/footer_bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 200px;
    color: #fff;
    letter-spacing: 0.4px;
    padding: 2rem 0;
    .footer_area {
        border-bottom: 1px solid #d5d5d5;
        padding-bottom: 20px;
        .search_area {
            width: 155px;
            position: relative;
            float: left;
            .search_input {
                float: left;
                width: 100%;
                border: 0;
                padding: 5px 10px;
                height: 30px;
                border-radius: 15px 0 0 15px;
                outline: none;
            }
            .search_button {
                position: absolute;
                left: 155px;
                width: 30px;
                height: 30px;
                border: 0;
                background: #fff;
                text-align: center;
                border-radius: 0 15px 15px 0;
                cursor: pointer;
                .fa-search {
                    color: #00a0e9;
                }
            }
        }
        .visitors_area {
            float: right;
            line-height: 30px;
        }
    }
    .copyright_area {
        padding-top: 20px;
        p {
            margin-bottom: 0;
            line-height: 1.54;
            font-size: 0.9285rem;
        }
    }
}

@media all and (max-width: 767px) {
    .footer{
        height: auto;
        .footer_area {
            .visitors_area {
                float: left;
                width: 100%;
                margin-top: 1rem;
            }
        }
    }
}