.index_news_area {
    .index_news_area {
        .index_news_block {
            margin: 0 4rem 30px;
            background-color: #fff;
            border-radius: 6px;
            overflow: hidden;
            .left_block {
                width: 55%;
                float: left;
                .news_images_block {
                    width: 50%;
                    height: 189px;
                    overflow: hidden;
                    position: relative;
                    float: left;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                    &.bg_first {
                        background-image: url('../../images/index_new_01.png');
                    }
                    &.bg_second {
                        background-image: url('../../images/index_new_02.png');
                    }
                    &.bg_third {
                        background-image: url('../../images/index_new_03.png');
                    }
                    &.bg_fourth {
                        background-image: url('../../images/index_new_04.png');
                    }
                    .triangle {
                        background-color: #fff;
                        width: 300px;
                        -webkit-clip-path: polygon(100% 0, 61% 100%, 100% 100%);
                        clip-path: polygon(100% 0, 61% 100%, 100% 100%);
                        position: absolute;
                        right: 0;
                        top: 0;
                        height: 189px;
                    }
                }
                .news_date_area {
                    float: left;
                    width: 50%;
                    padding-top: 7%;
                    .year {
                        font-size: 1.0714rem;
                        letter-spacing: 4.3px;
                        color: #9b9b9b;
                        font-weight: 500;
                        padding-left: 2px;
                    }
                    .date {
                        font-size: 3.5714rem;
                        letter-spacing: 4.5px;
                        float: left;
                        margin-right: 15px;
                        font-weight: 500;
                        &.pink {
                            color: #de3c68;
                        }
                        &.yellow {
                            color: #f5a623;
                        }
                        &.blue {
                            color: #00a0e9;
                        }
                        &.green {
                            color: #2eb977;
                        }
                    }
                }
            }
            .right_block {
                width: 45%;
                float: left;
                .decorative_block {
                    float: left;
                    position: relative;
                    .decorative_line {
                        float: right;
                        border-left: 1px dashed #f0f0f0;
                        height: 171px;
                        width: 1px;
                        transform: rotate(31deg);
                        -o-transform: rotate(31deg);
                        -webkit-transform: rotate(31deg);
                        -moz-transform: rotate(31deg);
                        position: absolute;
                        right: 25px;
                        top: 30px;
                    }
                }
                .news_content_block {
                    float: left;
                    padding: 2.8rem;
                    .tag {
                        width: 140px;
                        margin-bottom: 10px;
                    }
                    .title {
                        font-size: 1.5714rem;
                        line-height: 1.55;
                        letter-spacing: 0.7px;
                        color: #4a4a4a;
                        font-weight: 300;
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 2;
                        line-height: 34px;
                        height: 68px;
                    }
                }
            }
        }
    }
}

.more_btn_block {
    padding-bottom: 1rem;
    .more_btn {
        width: 270px;
        margin: 0 auto;
        display: block;
        text-align: center;
        background-color: rgba(216, 216, 216, 0.55);
        border-radius: 30px;
        padding: 1rem 2rem;
        letter-spacing: 4.9px;
        color: #323232;
    }
}

.campus_job_area {
    .campus_job_block {
        margin: -4rem 4rem 6rem;
        border-radius: 6px;
        background-color: #ffffff;
        padding: 2.8rem;
        position: relative;
        color: #4a4a4a;
        .title {
            letter-spacing: 0.8px;
            font-size: 1.857rem;
            float: left;
            width: 40%;
            line-height: 3.5714rem;
            margin-bottom: 1.5rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .date_area {
            float: right;
            width: 47%;
            font-size: 1.1428rem;
            margin-bottom: 1.5rem;
            line-height: 1.8rem;
            .date_block {
                max-width: 220px;
                float: right;
            }
            .data_title {
                font-weight: 300;
            }
            .date {
                color: #0d98d6;
                letter-spacing: 0.5px;
            }
        }
        .decorative_line {
            border-left: 1px dashed #f0f0f0;
            height: 171px;
            width: 1px;
            transform: rotate(31deg);
            -o-transform: rotate(31deg);
            -webkit-transform: rotate(31deg);
            -moz-transform: rotate(31deg);
            position: absolute;
            left: 45%;
            top: 30px;
        }
        .info {
            font-size: 1.1428rem;
            color: #4a4a4a;
            font-weight: 300;
            line-height: 1.5;
            letter-spacing: 0.5px;
            float: left;
            width: 40%;
            border-left: 1px dashed #00a0e9;
            padding: 1rem 0 0 1rem;
        }
        .apply_btn {
            float: right;
            width: 53%;
            font-size: 1.1428rem;
            padding-top: 1rem;
            a {
                width: 204px;
                height: 45px;
                line-height: 45px;
                border-radius: 30.5px;
                background-color: #0859a8;
                display: block;
                float: right;
                color: #fff;
                text-align: center;
                letter-spacing: 1.9px;
            }
        }
    }
}

.promotion_link_area {
    margin-bottom: 5rem;
    .title {
        letter-spacing: 7px;
        color: #141414;
        font-size: 1.214rem;
        text-align: center;
        margin-bottom: 1.2rem;
    }
    .line {
        width: 40px;
        border-top: 1px solid #363636;
        margin: 0 auto 3rem;
    }
    .promotion_link_block {
        padding: 0 4rem;
        margin-bottom: 2rem;
        .promotion_link_item {
            height: 60px;
            border-radius: 4px;
            box-shadow: 5px 5px 14px 0 rgba(0, 0, 0, 0.1);
            background-color: #fff;
            display: block;
            margin: 0 0.5rem 1rem;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
    .more_btn {
        letter-spacing: 3px;
        color: #323232;
        font-size: 1.1428rem;
        text-align: right;
        display: block;
        margin-right: 4.5rem;
    }
}

@media all and (max-width: 767px) {
    .index_news_area {
        .index_news_area {
            .index_news_block {
                margin: 0 0rem 30px;
                .left_block {
                    width: 100%;
                    border-bottom: 1px dashed #f0f0f0;
                    .news_images_block {
                        width: 100%;
                        height: 97px;
                        .triangle {
                            display: none;
                        }
                    }
                    .news_date_area {
                        width: 100%;
                        padding: 1.5rem 2rem;
                        .date {
                            font-size: 30px;
                        }
                    }
                }
                .right_block {
                    width: 100%;
                    .decorative_block {
                        display: none;
                    }
                    .news_content_block {
                        padding: 2rem;
                        position: relative;
                        .tag {
                            position: absolute;
                            right: 2rem;
                            top: -4.7rem;
                            width: 88px;
                        }
                        .title {
                            font-size: 1.25rem;
                            line-height: 1.53;
                        }
                    }
                }
            }
        }
    }
    .more_btn_block {
        .more_btn {
            width: 220px;
        }
    }
    .campus_job_area {
        .campus_job_block {
            margin: -4rem 0rem 6rem;
            .title {
                width: 100%;
                font-size: 1.6667rem;
                overflow: hidden;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                line-height: 34px;
                height: 68px;
                white-space: inherit;
            }
            .date_area {
                width: 100%;
                padding-bottom: 2rem;
                border-bottom: 1px dashed #f0f0f0;
                font-size: 1.1428rem;
                .date_block {
                    float: left;
                    width: 100%;
                    max-width: 100%;
                }
            }
            .decorative_line {
                display: none;
            }
            .info {
                width: 100%;
                border-left: 0;
                float: left;
                margin-bottom: 2rem;
                li {
                    list-style: disc;
                }
            }
            .apply_btn {
                float: left;
                width: 100%;
                a {
                    float: none;
                    margin: 0 auto;
                }
            }
        }
    }
    .promotion_link_area {
        .promotion_link_block {
            padding: 0;
            .promotion_link_item {
                width: 260px;
                margin: 0 auto 1rem;
            }
        }
    }
    .promotion_link_area {
        .more_btn {
            text-align: center;
            margin-right: 0;
        }
    }
}